Logging:
  LogLevel:
    Default: 'Information'
AppSecrets:
    TwilioAuthToken: ''
    TwilioSid: ''
    TwilioNumber: ''
    NotificationNumber: ''
    StorageFile: 'MeadowBoardDemo.json'
    WifiSsid: ''
    WifiPassword: ''
